div.contents {

	margin: 0 auto;
	padding: $standard-padding;
	max-width: $max-content-width;

	h2.groupheader{
		color: $color-text;
		border-bottom: 2px solid $color-brand-light;
		margin-top: 3em;
	}
}
